name: Ship GHCR

on:
  push:
    branches: [ main, github-action-ci]
  workflow_dispatch:
  
permissions:
  contents: read
  packages: write  
  
jobs:
  ship-admin-server:
    name: Build and ship spring-petclinic-admin-server
    uses: StefanFilkov/platform-pipelines/.github/workflows/docker-build-and-push-to-ghcr.yaml@docker-build-and-push
    strategy:
        matrix:
            include:
                - module: spring-petclinic-admin-server
                  image_name: spring-petclinic-admin-server
    with:
      cr_link: ghcr.io/stefanfilkov
      image_name: ${{ matrix.image_name }}
      dockerfile: ./docker/Dockerfile
      context: .
      platforms: linux/amd64,linux/arm64
      tags: "latest,${{ github.sha }}"
      build_args: |
        COMMIT_SHA=${{ github.sha }}
        MODULE=${{ matrix.module }}
    secrets:
      GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
